.form {
  display: flex;
  flex-direction: column;

  &--container {
    width: 600px;
    display: flex;
    align-items: center;
  }

  &__label {
    width: 70%;
  }

  &__input {
    width: 70%;
  }
}

