:root {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

.global {

  &--container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.72);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1.2rem;
}

.title__page {
  margin-top: 10px;
  width: 440px;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

