.tally {
  &__tr {
    //background-color: rgb(241, 242, 242);
    background-color: rgb(209, 218, 218);

    color: #000;
    border: none;
    //border-bottom: black dotted 1px;
    text-align: center;
  }

  &__link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.7rem;
  }

  &__input {

    &--file {
      width: 100px;
      font-size: 0.7rem;
    }
  }

  &__td--options {
    display: flex;
    justify-content: center;
  }
}

.options {

  &--label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 16px;
  }
}

.option {
  &--edit {
  }

  &--delete {
  }
}

td {
  border-bottom: 2.3px dotted #000;
}

.colortext {
  font-weight: bold;
  &--red {
    color: red;
  }

  &--green {
    color: green;
  }
}

.custom-file-upload {
  background-color: rgb(209, 218, 218);
  height: 12px;
  color: white;
  padding: 10px 7px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Aby wyglądało jak przycisk */


}
.custom-file-upload:hover {
  background-color: rgb(167, 177, 177);
}

.icon__upload {
  height: 18px;
}

.comment {
  &--field {
    width: 250px;

  }
}

.comment--bold {
  font-weight: bold;

  &:hover {
    background-color: rgb(167, 177, 177);
    cursor: pointer;
  }


}