:root {
  --background-shadow: rgba(0, 0, 0, 0.3);
  --widthInputsFormAdd: 600px;
  --heightTextArea: 300px;
  --widthTextArea: 600px;
  --color: #fff;
  --color-placeholder:#ffffffb7;
  --fontSizeImputsAndTextArea: 1.5rem;
  --transition: all 0.7s;
  --heightElements: 70px;
  --widthInputItems: 300px;
  --heightHeader: 96px;
  --heightFooter: 96px;
}